@page "/SeasonStats"
@rendermode InteractiveServer

<PageTitle>Season Stats</PageTitle>

<h1>Season Stats</h1>

<p role="status">Page is under construction...</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
